<div class="container">
    <h1 class="text-center">{{ title }}</h1>

    <!-- <app-contador></app-contador> -->
    <!-- <app-finazas></app-finazas> -->
    <!-- <app-prueba></app-prueba> -->
    <!-- <app-botones></app-botones> -->
    <!-- <app-bucles></app-bucles> -->
    <!-- <app-switch></app-switch> -->
    <!-- <app-formulario2></app-formulario2> -->
    <!-- <app-formulario3></app-formulario3> -->
    <!-- <app-formulario4></app-formulario4> -->
    <!-- ----------------------------------------------------------------------  -->
    <!-- <app-children title="texto de prueba"></app-children> -->
    <!-- <app-children title="{{ title }}"></app-children> -->
    <!-- <input type="text" class="form-control" [(ngModel)]="title">
    <app-children [title]="title"></app-children> -->
    <!-- ----------------------------------------------------------------------  -->
    <h2>Componete Padre</h2>
    <input type="text" class="form-control" [(ngModel)]="title">
    <!-- <app-children2 [title]="title" (titleChange)="title = $event"></app-children2> -->
    <app-children2 [(title)]="title"></app-children2>

</div>