<h1>Formulario basado en plantilla</h1>

<div class="card">
    <div class="card-body">
        <form (ngSubmit)="procesar()" #formContact="ngForm">
            <div class="mb-2">
                <label>
                    Nombre:
                </label>
                <input type="text" class="form-control" name="nombre" placeholder="porfavor ingrese un nombre" [(ngModel)]="persona.nombre" required #name="ngModel">
                <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                    El nombre es obligatorio
                </div>
            </div>
            <div>
                <label class="form-label">
                    Edad
                </label>
                <input type="number" class="form-control" name="edad" placeholder="porfavor ingrese su edad" [(ngModel)]="persona.edad" required #edad="ngModel">
                <div class="alert alert-danger mt-2" [hidden]="edad.valid || edad.pristine">
                    La edad es obligatorio
                </div>
            </div>
            <div class="mt-2">
                <!-- <button class="btn btn-primary w-100" [disabled]="!name.valid || !edad.valid ">
                    Enviar
                </button> -->
                <button class="btn btn-primary w-100" [disabled]="formContact.invalid ">
                    Enviar
                </button>
            </div>

        </form>
    </div>
</div>

<!-- <hr> {{persona | json}} -->
<!-- <hr> {{name.errors | json}}
<hr> {{name.valid}} -->
<!-- <hr> {{formContact.valid}} -->