<input type="text" placeholder="Ingresa tu nombre" class="form-control" #name>

<button class="btn btn-primary mt-2" (click)="mostrar_en_consola(name.value)">
    mostrar en consola 
</button>

<div class="alert alert-primary" *ngIf="openAlert; else mensaje">
    <p>se ha enviado el mensaje</p>
    <button class="btn btn-danger" (click)="openAlert= false">
        x
    </button>
</div>

<ng-template #mensaje>
    <div class="alert alert-danger mt-4">
        mensaje de prueba
    </div>
</ng-template>